@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.main{
    background-color:  rgba(232, 235, 248, 1);
}

.header{
    display: flex;
    padding: 4em;
    justify-content: space-between;
    align-items: center;
    line-height:1em;
    background-color:rgba(232, 235, 248, 1);
}

.head-btn{
    background-color: rgba(20, 27, 52, 1) ;
    color: white;
    font-size: 18px;
    padding: 10px;
    width: 12em;
    border: 1px solid white;
    border-radius: 0.6em;
}

.section-slide{
    display:flex;
    justify-content: space-between;
    padding: 1em 4em;
    background-color:  rgba(20, 27, 52, 1);
    color: white;
}

.section-slide > div{
    display: flex;
    align-items: center;
    animation: marquee 10s linear infinite;
}

.section-slide span{
    padding-right: 10px;
}

.slide{
    padding-right: 10px;
}

@keyframes marquee{
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.deals{
    background-color: white;
}

.deals-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 6em;
}

.deals-top button{
    padding: 5px;
    border-radius: 2em;
    border: 1px solid white;
    background-image: linear-gradient(to right, rgb(233, 149, 149), rgb(185, 4, 4));
    color: white;
}

.shopNow{
    padding: 4em;
}

.shoe-filter{
    background-color: white;
    height: 73vh;
    position: relative;
    color: rgba(20, 27, 52, 1);
    font-size: 15px;
    border-radius: 1em;
    padding: 10px;
}

/* .shoe-filter input:checked{
    color: rgba(20, 27, 52, 1);
} */

.shoe-filter span{
    position: absolute;
    right: 0;
    padding-right: 15px;
}

.shoe-section{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 4em;
}

.shoe-list{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    flex-direction: row;
}

.shoe-list > div{
    line-height: 10px;
    background-color: white;
    padding: 5px;
}

.shoe-list .card-1-body  p:nth-child(1), p:nth-child(3){
    font-weight: bold;
    font-family: arial;
}

.card-1-body{
    position: relative;
}

.card-1-body span{
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: -10px;
}

.card-1-body span:active{
    color: red;
}

.prevNext{
    margin-top: 2em;
}

.prevNext button{
    margin-right: 10px;
    color:rgba(20, 27, 52, 1) ;
}

.prevNext button:hover{
    background-color:rgba(20, 27, 52, 1);
    color: white;
    border: 1px solid white;
}